<div class="container">
  <div class="inputField">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchVal">
  </div>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of apiData.data | filter :searchVal">
        <th scope="row">{{items.id}}</th>
        <td><img src="{{items.avatar}}" alt="" width="50px"></td>
        <td>{{items.first_name}}</td>
        <td>{{items.last_name}}</td>
        <td>{{items.email}}</td>
      </tr>
    </tbody>
  </table>
</div>